---
import Icon from './icon.astro';
---

<button
  id="theme-toggle"
  aria-label="Theme toggle"
  class="fixed bottom-3 left-3 z-10 inline-flex h-10 w-10 items-center justify-center rounded-lg bg-gray-100 text-gray-400 shadow-xl transition focus:ring-primary-500 dark:bg-gray-600 dark:text-gray-200"
>
  <Icon class="block dark:hidden" name="ri:moon-fill" size={20} />
  <Icon class="hidden dark:block" name="ri:sun-line" size={20} />
</button>

<script is:inline>
  // Set the initial theme to light by default
  (() => {
    const savedTheme = localStorage.getItem('theme');
    const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

    // Default to light if no saved preference is found
    const initialTheme = savedTheme || 'light';

    if (initialTheme === 'dark' || (!savedTheme && systemPrefersDark)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }

    const themeMeta = document.querySelector('meta[name="theme-color"]');
    if (themeMeta) {
      themeMeta.content = initialTheme === 'dark' ? '#1a202c' : '#ffffff';
    }
  })();

  // Theme toggle logic
  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    const currentTheme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    const themeMeta = document.querySelector('meta[name="theme-color"]');

    if (themeMeta) {
      themeMeta.content = newTheme === 'dark' ? '#1a202c' : '#ffffff';
    }

    document.documentElement.classList[newTheme === 'dark' ? 'add' : 'remove']('dark');
    localStorage.setItem('theme', newTheme);
  });

</script>
